## Игнорирование файла
git_commands.md
## Игнорирование папки
vscode/
## Игнорированиие всех файлов с определенным расширением
*.log
## Ингорирование всех с определенным расширением в папке
info/*.log
